:root {
  --text-color: #434455;
  --dark-text-color: #2E2F42;
  --primary-color: #4D5AE5;
  --white-color: #FFF;
  --light-color: #F4F4FD;
  --accent-color: #E7E9FC;
  --pressed-color: #404BBF;
}

ul,
ol,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  color: var(--text-color);
  font-size: 16px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #E7E9FC;
}

.logo {
  color: var(--dark-text-color);
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
}

.logo-accent {
  color: var(--primary-color);
}

.link {
  text-decoration: none;
  color: var(--dark-text-color);
  line-height: 150%;
  letter-spacing: 0.02em;
}

.link:visited {
  text-decoration: none;
  color: var(--dark-text-color);
}

.list {
  list-style-type: none;
}

.nav-list {
  display: flex;
  margin-left: 80px;
  color: var(--dark-text-color);
  font-weight: 500;
}

.nav-list .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .link.current {
  color: var(--primary-color);
}

.nav-list .item:not(:last-child) {
  margin-right: 40px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
}

.contacts {
  margin-left: auto;
}

.contact-list .link {
  font-style: normal;
  color: var(--text-color);

}

.contact-list .item:not(:last-child) {
  margin-right: 40px;
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--primary-color);
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--dark-text-color);
  text-align: center;
}

.hero .title {
  margin-bottom: 48px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;

}

.button {
  padding: 16px 32px;
  font-family: inherit;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.hero .button {
  min-width: 170px;
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--pressed-color);
}

.title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  color: var(--dark-text-color);
  line-height: 120%;
}

.text {
  margin-top: 8px;
  margin-bottom: 0;
  letter-spacing: 0.02em;
  line-height: 150%;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: var(--dark-text-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.features-list {
  display: flex;
}

.examples-section {
  padding-bottom: 120px;
}

.features-list .item+.item,
.examples-list .item+.item {
  margin-left: 24px;
}

.features-list .item{
  width: 264px;
}

.examples-list {
  display: flex;
}

.image {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.employees-section {
  background-color: var(--light-color);
}

.employee-list {
  display: flex;
}

.employee-list .item {
  width: 264px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.employee-list .item+.item {
  margin-left: 24px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--accent-color);
  background-color: var(--dark-text-color);
}

.footer .logo-white {
  color: var(--light-color);
}

.footer .text {
  line-height: 150%;
  width: 264px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

.filter-list .button {
  padding: 12px 24px;

  color: var(--primary-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--light-color);
}

.filter-list .item+.item {
  margin-left: 24px;
}

.filter-list .button:hover,
.filter-list .button:focus {
  background: var(--pressed-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--pressed-color);
  color: var(--white-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -24px -12px;
}

.project-list .item {
  width: 360px;
  margin: 24px 12px;
}

.description {
  margin-bottom: 0;
  margin-top: 8px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.project-list .wrapper {
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.employee-list .wrapper {
  text-align: center;
}